
$grey0: #070707;
$grey1: #222;
$grey2: #444;
$grey3: #666;
$grey4: #888;
$grey5: #aaa;
$grey6: #ccc;
$grey7: rgba(127, 127, 127, .2);
$grey8: rgba(127, 127, 127, .1);
$grey10: #f7f7f7;

$purple0: #120036;
$purple1: #220066;
$purple2: #884dff;
$purple3: #bb99ff;
$purple4: #ccb3ff;
$purple5: #ddccff;
$purple6: #eee6ff;
$purple7: rgba(153, 102, 255, .1);
$purple10: #f5f0ff;


$width-desktop-min: 813px;
$width-mobile-max: 812px;
$height-desktop-min: 640px;
